app = "world-clock-bot"

[build]
  builtin = "python"

[env]
  PYTHONUNBUFFERED = "1"

[processes]
  app = "python world_clock_bot.py"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80

  [[services.ports]]
    port = 443

  [services.concurrency]
    type = "requests"
    soft_limit = 20
    hard_limit = 25
